* { margin: 0; }
html, body { text-align: center; }
#c { margin: 0 0 30 0;}
input[type="range"] {
    display: inline;
    width: 100px;
    margin-top: -0;
}
.thumb.active {
    display: none;
}
